# hidden files
.*
!.gitignore
.DS_Store
.Rhistory

# vim files
*~
# outputs
*.RData
*.rds
*.RDS

# genetic data
*.gen*
*.dose*
*.gen.gz*
*.vcf.gz*
*.vcf*

# archived data
_archived/*

# proprietary data
*.AEDB.dictionary.html

# pyton
venv/
*.egg-info/*
__pycache__

# tag files
tags
.Rproj.user

